.card-container {
  display: flex;
  flex-wrap: wrap;    /*items come in single line */
  gap: 20px;     /* space between cards */
  justify-content: center;
  padding: 20px;
}

.card {
  width: 250px;
  border-radius: 10px;
  overflow: hidden;         /*what happens to content when it is too large to fit inside an element's specified width and height constraints*/
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  background: #fff;
}

.card:hover {
  transform: translateY(-5px);  /*when hovering over card, it goes 5px in +ve y axis direction(vertically up)*/
}

.card-image {
  width: 100%;
  height: 130px;
  object-fit: cover;  /*how image should be resized to fit its container*/
}



.card-title {
  font-size: 18px;
  font-weight: bold;
  margin: 5px 0;
  color: #333;
}

.card-category {
  font-size: 14px;
  color: #777;
}

.viewrecipe{
  border:none;
  border-radius: 6px;
  background: rgb(211, 19, 19);
  color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  font-size: 16px;
  height: 30px;
  width: 100px;
  margin-bottom: 10px;

}

.viewrecipe:hover{
  background: rgb(134, 11, 11);

}

.edit_icon{
  margin-right: 40px;
  width:20px;
  height:20px;

}

.del_icon{
  margin-left: 40px;
  width:20px;
  height:20px;
}

.edit_icon:hover{
  color: red;

}

.del_icon:hover{
  color: red;
}




